/* TSOS.css */

body {
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:white;
  border: 2px solid darkgray;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 8pt;
  text-align: center;
}

#tableMemory, #tablePCB, #tableCpu {
  padding: 10px;
  overflow:auto;
  background-color:white;
}
#tableMemory td, #tablePCB td, #tableCpu td {
  text-align: center;
}

#tableDisk {
  cellspacing:0px;
  cellpadding:0px;
  background-color: white;
}

#divDisk {
  overflow-y: scroll;
  height: 300px;
  width: 800px;
  background: white;
  padding: 10px;
  float: right;
}

#divMemory {
  background: white;
  overflow-y: scroll;
  height: 400px;
  width: 300px;
  padding-right: 10px;
}

#spacing{
  float:left;
  width: 100px;
}

td {
  width: 10%;
}

#taHostLog{
  width: 350px;
  height: 400px;
  float: left;
}

#divUserProgramInput {
  float:left;
}

label {
  font-weight: bold;
}